@{
  Layout="Shared/_Layout.cshtml";
}

  <h2>BAR MENU</h2>

    @if (@Model["allDrinks"].Count != 0)
    {
      <p>DRINKS:</p>
      <ul>
        @foreach (var drink in @Model["allDrinks"])
        {
          <li class="bold-list">@drink.GetName() | ABV: @drink.GetABV(), Cost: $@drink.GetCost()</li>
        }
      </ul>
    }
    else
    {
      <p>NO DRINKS FOR YOU</p>
    }


    @if (@Model["allFood"].Count != 0)
    {
      <p>FOOD:</p>
      <ul>
        @foreach (var food in @Model["allFood"])
        {
          <li class="bold-list">@food.GetFoodType() | Cost: $@food.GetCost()
              <p id="food-p">@food.GetDescription()</p>
          </li>
        }
      </ul>
    }
  else
  {
    <p>NO FOOD FOR YOU</p>
  }


<a href="/drinks/add"><button type="submit" class="btn btn-submit">New Drink</button></a>
<a href="/food/add"><button type="submit" class="btn btn-submit">New Food</button></a>
