@{
  Layout="Shared/_Layout.cshtml";
}

<div class="progress">
  <span class="progress-bar"><span class="progress-in" style="width: 80%"></span></span>
</div>


<p>Howdy, my name is @Model["patron"].GetName().</p>

@if (@Model["patronDrinks"].Count != 0)
{
  <p>My BAC is fukken high dood
    @Model["patron"].GetPatronBAC()</p>
}
<div id="start-drinking">
  <button type="submit" class="btn submit-btn">Start Drinking!</button>
</div>

<form id="main-form" action='/patrons/@Model["patron"].GetId()/add_order' method="post">
  <input name="patron-id" type="hidden" value='@Model["patron"].GetId()'>
  <select name="drink-id">
    <option value="no-foods" selected>Just Food Plz</option>
    @foreach (var chosenDrink in @Model["allDrinks"])
    {
      <option value="@chosenDrink.GetId()">@chosenDrink.GetName() | ABV @chosenDrink.GetABV()%, Cost $@chosenDrink.GetCost()</option>
    }
  </select>
  <select name="food-id">
    <option value="no-drinks" selected>Just Drinks Plz</option>
    @foreach (var chosenFood in @Model["allFood"])
    {
      <option value="@chosenFood.GetId()">@chosenFood.GetFoodType() | Cost $@chosenFood.GetCost()</option>
    }
  </select>
  <div id="add-drink">
    <button type="submit" class="btn submit-btn">Order</button>
  </div>
</form>

<p>This is what I've drinkity drank so far:</p>
<ul>
  @foreach (var patronDrinks in @Model["patronDrinks"])
  {
    <li>@patronDrinks.GetName()</li>
  }
</ul>

<div id="back-button">
  <a href="/"><button type="click">Home</button></a>
</div>
